.home-container{
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    color: #d9d9d9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.green-text{
    color:#36AC4F;
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: bold;
    font-style: normal;

}
.album-bg{
    background-color: #42BD46;
    height: 297px;
    margin: 20px;
    border-radius: 30px;
}



.album-button{
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-arrow{
    width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 20px solid #555;
	border-bottom: 8px solid transparent;
}

.right-arrow{
    width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 20px solid #555;
	border-bottom: 8px solid transparent;
}

.album-escutar{
    width: 150px;
    height: 30px;
    background-color: #00FF00;
    border-radius: 30px;
    color: black;
    text-align: center;
    font-weight: bold;
}


.home-disk-bg{
    background-color: #1F1F1F;
}

.plan-text{
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: bold;
    font-style: normal;
}


@media screen and (max-width: 400px) {
    .album-button{
        width: 20px;
        height: 20px;
    }
}