.home-container{
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    color: #d9d9d9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.green-text{
    color:#36AC4F;
    font-family: "Konkhmer Sleokchher", system-ui;
    font-weight: bold;
    font-style: normal;

}
.album-bg{
    background-color: #42BD46;
    height: 297px;
    width: 588px;
    margin: 20px;
    border-radius: 30px;
}

.home-disk-bg{
    background-color: #1F1F1F;
}

.album-button{
    background-color: white;
    height: 52px;
    width: 52px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-arrow{
    width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 25px solid #555;
	border-bottom: 12px solid transparent;
}

.right-arrow{
    width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 25px solid #555;
	border-bottom: 12px solid transparent;
}